body {
    font-family: 'Poppins', sans-serif;
}

.modal-backdrop.show {
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4); /* opcional para escurecer um pouco */
}

.personagem-card {
width: 200px;
cursor: pointer;
transition: transform 0.3s ease;
}
.personagem-card:hover {
transform: scale(1.05);
}
.personagem-img {
height: 300px;
object-fit: cover;
width: 100%;
}